.chat
  = render "side_bar"
  .main-contents
    .main-contents__header
      .main-contents__header__group
        .main-contents__header__group__name
          %h3
            = @group.name
        .main-contents__header__group__members
          %span
            Member:
          - @group.users.each do |user|
            = "#{user.name}"
      .main-contents__header__edit
        = link_to edit_group_path(@group) do
          Edit
    .main-contents__chat-contents
      = render partial: 'message', collection: @messages
    .main-contents__form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'main-contents__form__send-box', placeholder: 'Type a message'
        = f.label :image, class: 'main-contents__form__pic-icon' do
          %i.fa.fa-image
          = f.file_field :image, class: 'main-contents__form__pic-icon__hidden'
        = f.submit value: 'Send', class: 'main-contents__form__send-button'